<template>
    <div class="columns">
        <div class="column is-half is-offset-one-quarter task-list">
            <div class="box">
                <h2 class="title">Minhas Tarefas</h2>
                <hr>
                <div class="notification is-danger" v-if="seen">
                    <button class="delete" @click="deleteError()"></button>
                        <p v-for="error in errors">{{error}}</p>
                </div>
                <div class="field has-addons">
                    <div class="control is-expanded">
                        <input class="input" type="text" placeholder="Nova Tarefa" v-model="task.body">
                    </div>
                    <div class="control">
                        <div class="select is-primary">
                                <select v-model="task.category_id" placeholder="Categoria">
                                    <option value="">Categoria</option>
                                    <option v-for="category in categories" v-bind:value="category.id" v-model="category.id">
                                        {{ category.categories_name }}
                                    </option>
                                </select>
                        </div>
                        <a class="button is-primary" @click="createTask()">
                            Criar Tarefa
                        </a>
                    </div>
                </div>
<div class="tabs is-centered">
                    <ul>
                        <li :class="{'is-active':isActive('current')}">
                            <h3 class="title">
                                <a href="#" v-on:click.prevent="fetchTaskList()">
                                    Tarefas
                                </a>
                            </h3>
                        </li>
                    </ul>
                </div>
                <div class="card" v-for="task in list">
                    <header class="card-header">
                        <p class="card-header-title">
                            <span class="tag is-primary">Tarefa {{ task.id }}</span>
                            <span class="tag is-primary">{{task.category.categories_name}}</span>
                            <span class="tag is-danger" v-if="task.archive == true">Arquivada</span>
                        </p>
                        <p class="card-header-icon">
                            <b-button name="button-archive" v-if="task.archive == false" class="button is-warning" href="#" v-on:click.prevent="archiveTask(task.id)">Arquivar Tarefa</b-button>
                        </p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            <p v-if="task !== editingTask" @dblclick="editTask(task)" v-bind:title="message">
                                {{ task.body }}
                            </p>
                            <input class="input" v-if="task === editingTask" v-autofocus @keyup.enter="endEditing(task)" @blur="endEditing(task)" type="text" placeholder="New task" v-model="task.body">
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a class="card-footer-item button is-danger is-outlined" v-on:click.prevent="deleteTask(task.id)">Deletar Tarefa</a>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        directives: {
            'autofocus': {
                inserted(el) {
                    el.focus();
                }
            }
        },
        data() {
            return {
                message: 'Clique Duas vezes para editar',
                list: [],
                task: {
                    id: '',
                    body: '',
                    archive: '',
                    category_id:'',
                    category:{
                        id: '',
                        categories_name: ''
                    }
                },
                categories:{
                    id: '',
                    categories_name: ''
                },
                editingTask: {},
                activeItem: 'current',
                errors: [],
                seen: false
            }
        },
        created() {
            this.fetchTaskList();
            this.getCategories();
        },
        methods: {
            fetchTaskList() {
                    var url = 'current_tasks';
                    this.setActive('current');
                axios.get(url).then(result => {
                    this.list = result.data
                });
            },
            deleteError() {
                this.seen = false;
            },
            getCategories() {
                    var url = 'get_categories';
                    this.setActive('current');
                axios.get(url).then(result => {
                    this.categories = result.data
                });
            },
            isActive(menuItem) {
                return this.activeItem === menuItem;
            },
            setActive(menuItem) {
                this.activeItem = menuItem;
            },
            createTask() {
                axios.post('create_task', this.task).then(result => {
                    this.task.body = '';
                    this.fetchTaskList();
                }).catch(err => {
                    this.errors = [];
                    this.errors.push(err.response.data.message);
                    this.seen = true;
                });
            },
            editTask(task) {
                this.editingTask = task;
            },
            endEditing(task) {
                this.editingTask = {};
                if (task.body.trim() === '') {
                    this.deleteTask(task.id);
                } else {
                    axios.post('edit_task', task).then(result => {
                        console.log('access!')
                    }).catch(err => {
                       this.errors = [];
                       this.errors.push(err.response.data.message);
                       this.seen = true;
                    });
                }
            },
            deleteTask(id) {
                axios.post('delete_task/' + id).then(result => {
                    this.fetchTaskList();
                }).catch(err => {
                    console.log(err);
                });
            },
            archiveTask(id) {
                axios.post('archive_task/' + id).then(result => {
                    this.fetchTaskList();
                }).catch(err => {
                    console.log(err);
                });
            }
        }
    }
</script>